/*This is the comment for my Student Bio Css*/
body{
	padding: 100px 0px 0px 0px;
	background-image: url("C:/Users/willi/Basic-Portfolio/assets/images/GPlayBkg.png");
}
div.topPage{
	float:top;
	padding-bottom: 20px;
	margin-bottom: 10%;
	position:fixed;
}
h1.nameline{
	text-align: center;
	background-color: #4aaaa5;
	margin-left: 0%;
	display: inline;
	position:fixed;
	top: 5%;
	float: left;
	color: white;
}
h2{
	color : #4aaaa5;
}

li.pagelinks{
	display: inline;
	top: 10%;
	float: right;
	display: inline;
	padding-right: 5%;
	padding-bottom: 5%;
}
div.centerPage{
	
}
div.aboutNote{
	float:left;
	display: inline;
	width: 50%;
	height:60%;
	background-color: white;
}
img.pageImg{
	max-width:20%;
	max-height:20%;
}
p.textBody{
	max-width: 70%;
	float:right;
}
div.connectNote{
	float:right;
	display: inline;
	width: 40%;
	height:60%;
	background-color: white;
}
div.bottomNote{
	position:fixed;
	bottom:0%;
	width:100%;
	text-align: center;
	background-color: #666666;
	border-top: double thick #4aaaa5;

}